# --- Secrets ---
mongo.properties
MovieMatch-MongoDB-Commands.pdf
MovieMatch-MongoDB-Guide.pdf

# --- Build output ---
target/
out/
*.class

# --- IDE ---
.idea/
*.iml

# API keys / secrets
config.properties
tmdb.properties
tmdb.properties.example

# Local UML diagrams
*.puml
